<link rel="stylesheet" href="../../static/css/style.css">
<div class="countries">
    <div class="countries-list">
        <div class="regions">Hududlar</div>
        <ul class="list">
                <li><a href="{% url 'region' 1 %}">Tashkent</a></li>
                <li><a href="{% url 'region' 2 %}">Qoraqalpog‘iston</a></li>
                <li><a href="{% url 'region' 2 %}">Andijon</a></li>
                <li><a href="{% url 'region' 2 %}">Farg‘ona</a></li>
                <li><a href="{% url 'region' 2 %}">Namangan</a></li>
                <li><a href="{% url 'region' 2 %}">Samarqand</a></li>
                <li><a href="{% url 'region' 2 %}">Buxoro</a></li>
                <li><a href="{% url 'region' 2 %}">Xorazm</a></li>
                <li><a href="{% url 'region' 2 %}">Surxondaryo</a></li>
                <li><a href="{% url 'region' 2 %}">Qashqadaryo</a></li>
                <li><a href="{% url 'region' 2 %}">Jizzax</a></li>
                <li><a href="{% url 'region' 2 %}">Sirdaryo</a></li>
                <li><a href="{% url 'region' 2 %}">Toshkent vil.</a></li>
                <li><a href="{% url 'region' 2 %}">Navoiy</a></li>

        </ul>
    </div>
</div>